name: danger

on:
  push:
  pull_request:
    branches-ignore: [develop, release/**]
  workflow_dispatch:
jobs:
  danger:

    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run Danger
        uses: actionshub/danger-rb@main
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
